:root {
    --blue: #4e87a8;
    --white: #fff;
    --green: #13996c;
    --greenw: #13996c;
    --bluew: #c0cdcf;
    --blues: #5aa8a8;
    --whitet:  #e2e9e9;
    --bluess: #5aa8a8;
    --black: #00000090;
    --blueb: #22224a;
    --blueo: #3232e2;
    --yellow: #ffcc29;
    --blackg: #1d1c1c;
    --gray: #e9dede85;
    --red: #ff0000;
    --blackh: #000000b6;
                
}

body, html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 80px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: var(--blue);
}

.link {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.link a{
    font-size: 13px;
    color: var(--white);
    text-decoration: none;
    transition: 00.80s ease;
}

.link a:hover{
    color: var(--blueo);
}

.home {
    padding: 210px;
    background: linear-gradient(180deg, var(--bluew) 9%, var(--blues) 100%);
}

.text {
    margin-left: 25px;
    width: 1000px;
    font-size: 28px;
}

.text h1{
    color: var(--blackh);
    font-size: 50px;
}

.text p{
    font-size: 40px;

}

.home button {
    margin-left: 25px;
    margin-top: 20px;
    border-radius: 50px;
    padding: 23px 80px;
    border-color: var(--green);
    transition: 00.5s ease;
    cursor: pointer;
    color: var(--greenw);
}

.home button:hover {
    border-color: var(--white);
    color: var(--white);
    background-color: var(--green);
    transform: scale(1.1);
}

.app {
    padding: 100px;
    background-color: var(--whitet);
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.app p {
    width: 480px;
    font-size: 42px;
}

.app button {
    margin: 30px 30px;
    border-radius: 50px;
    padding: 20px 50px;
    border-color: var(--green);
    transition: 00.5s ease;
    cursor: pointer;
}

.app button:hover {
    border-color: var(--white);
    color: var(--white);
    background-color: var(--bluess);
    transform: scale(1.1)
}

.image img {
    width: 450px;
}

.info {
    padding: 100px;
    background-color: var(--whitet);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info h2 {
    color: var(--blueb);
    font-size: 40px;
}

.text-p {
    margin-top: 2rem;
    width: 1000px;
}

.text-p p {
    line-height: 25px;
    font-size: 20px;
    color: var(--black);
}

.info hr {
    margin-top: 1.5rem;
}

.info img {
    width: 600px;
    margin-top: 2rem;
}

.text-p button {
    transition: 00.5s ease;
    cursor: pointer;
    font-size: 17px;
    margin: 48px;
    padding: 20px 65px;
    color: var(--blueo);
    border-radius: 50px;
    border-color: var(--blueo);
}

.text-p button:hover {
    background-color: var(--blueo);
    color: var(--white);
    border-color: var(--whitet);
    transform: scale(1.1);
}

.container-bank {
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(images/img\ cofre\ fundo.jpg);
    padding: 10%;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.image-bank img {
    width: 25vw;
}

.text-bank {
    color: var(--white);
    width: 375px;
}

.text-bank h2{
    text-align: center;
    font-size: 35px;
}

.text-bank span {
    color: var(--yellow);
}

.text-bank p {
    font-size: 16px;
    margin-top: 1.5rem;
    text-align: center;

}

.final-section {
    text-align: center;
    padding: 5px;
    background-color: var(--blackg);
}

.final img {
    margin-top: 1.5rem;
    width: 15vw;
    height: 4rem;
}

.final-container {
    background-color: var(--blackg);
    padding: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.final-footer p {
    text-align: center;
    color: var(--gray);
}

.link-footer a {
    text-decoration: none;
    color: var(--white);
    transition: 00.80s ease;
}

.link-footer a:hover {
    color: var(--red);
}